<!DOCTYPE html>
<html lang="en">
	<head>
	   <meta charset='utf8'>
	</head> 
    <body>
      <ul>
	  <li><a href="/sightings">Back to Sightings</a></li>
	  <li><a href="/map">Back to Map</a></li>
      </ul>

      <li>In this squirrel sightings data, the total number is {{total_number}}.</li>
      
     <table algn="center>
	     <tr>
		     <th>Age</th>
		     <th>Primary Fur Color</th>
		     <th>Chasing</th>
		     <th>Location</th>
		     <th>Eating</th>
	     </tr>

             <tr>
	            <td>{{age}}</td>
                    <td>{{primary_fur_color}}</td>
		    <td>{{chasing}}</td>
		    <td>{{location}}</td>
		    <td>{{eating}}</td>
             <tr>
      </table>

    </body>
